
<!--.container>button[type=button].btn.btn-primary{Adicionar}-->

<div class="container mt-2">
  <form>
    <div class="form-group">
      <label for="nomeInput">Nome</label>
      <!--input[type=text id=nomeInput].form-control[placeholder="Digite um nome"]-->
      <input type="text" id="nomeInput" class="form-control" placeholder="Digite um nome" #nomeInput>
    </div>

    <button type="button" (click)="adicionar(nomeInput)" class="btn btn-primary btn-block">Adicionar</button>
    <!--.alert.alert-primary.mt-3.p-3-->
    <div class="alert alert-primary mt-3 p-3" *ngIf="exibeCaixa">
      {{nome}}
    </div>
  </form>
</div>

<!--<p>Oi, meu nome é {{nome}} e tenho {{idade}} anos.</p>
<p>Lançando um dado: {{lancarDado()}}</p>-->
